<template>
  <div class="audio-loader" ref="container">
    <audio ref="audio" src="/sounds/youme.mp3" paused></audio>
    <!-- <input type="number" name="" id=""  value="1.5" @change="setAmp"> -->
    <button @click="play">Play</button>
  </div>
</template>

<script>
import Button from '../../Common/Button.vue';
export default {
  components: { Button },
  mounted() {
    this.$audioShader.init({container: this.$refs.container, audio: this.$refs.audio})
    window.addEventListener('resize', () => {
      this.$audioShader.onResize();
      this.$audioShader.render()
    })
  },
  methods: {
    play() {
      this.$audioShader.play()
      this.$refs.audio.play()
    },

    setAmp(e) {
      this.$audioShader.setAmplitude(parseFloat(e.target.value))
    }
  }
}
</script>

<style lang="scss">
.audio-loader {
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 1;
}
</style>