<template>
  <div class="creations-loader" ref="container">
    
  </div>
</template>

<script>
export default {
  mounted() {
    this.$creations.init({container: this.$refs.container})
    window.addEventListener('resize', () => {
      this.$creations.onResize();
      this.$creations.render()
    })
  },
}
</script>

<style lang="scss">
.three-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
</style>