<template>
  <div class="singleobject-loader" ref="container">
    
  </div>
</template>

<script>
export default {
  mounted() {
    this.$singleObject.init({container: this.$refs.container})
    window.addEventListener('resize', () => {
      this.$singleObject.onResize();
      this.$singleObject.render()
    })
  },
}
</script>

<style lang="scss">
.singleobject-loader {
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 1;
}
</style>