<template>
  <div class="tree-loader" ref="container">
    <div class="form">
      <label for="trees">
        <span>Amount of tree : {{ trees }}</span>
      </label>
      <input ref="input" v-model="trees" type="range" id="trees" name="trees"
           min="0" max="200" value="200" @change="generateTrees">
    </div>
  </div>
</template>

<script>
import Button from '../../Common/Button.vue';
export default {
  components: { Button },
  data() {
    return {
      trees: 200
    }
  },
  mounted() {
    this.$treescene.init({ container: this.$refs.container })
    window.addEventListener('resize', () => {
      this.$treescene.onResize();
      this.$treescene.render()
    })
  },
  watch: {
    trees() {
      const input = this.$refs.input
      input.disabled = true
      setTimeout(function() {
        input.disabled = false
      }, 2000)
    }
  },
  methods: {
    generateTrees(e) {
      const value = parseInt(e.target.value)
      this.$treescene.handleTrees(value)
    }
  }
}
</script>

<style lang="scss">
.tree-loader {
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;

  .form {
    position: fixed;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
</style>