<template>
  <a class="button" :href="to"><p>{{ text }}</p></a>
</template>

<script>
export default {
  props: {
    text: String,
    to: String
  }
}
</script>

<style lang="scss" scoped>
.button {
  margin-top: 4rem;
  text-decoration: none;
  color: white;
  background-color: var(--pink--light);
  padding: 0.8rem 2rem;
  border-radius: 0.3rem;

  p {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}
</style>