<template>
  <section class="hero">
    <h1 ref="heading">Hello World</h1>
  </section>
</template>

<script>
export default {
  mounted() {
    // this.animate()
  },
  methods: {
    animate() {
      const gsap = this.$gsap
      const split = this.$SplitText(this.$refs.heading);

      gsap.set(split.chars, {
        transformOrigin: "center center -50px",
        backfaceVisibility: "hidden"
      });

      gsap.to(
        split.chars,
        2,
        {
          rotationX: "360",
          stagger: 0.1,
          }
      );
    }
  }
}
</script>

<style lang="scss">
.hero {
  background-color: var(--black--bg);

  h1 {
    font-size: 6rem;
    color: white;
  }
}
</style>