html,
body {
  padding: 0;
  margin: 0
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins';
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: var(--black--bg);
  font-weight: 100;
}