<template>
  <section id="fullscreen" class="section fullscreen" ref="section">
    <div class="fullscreen__wrap">
      <div class="fullscreen__content">
        <div class="bg">
          <client-only>
            <section-three-loader/>
          </client-only>
          <div class="lines">
            <svg class="lines__item" height="210" width="3" v-for="i in 25" :key="i">
              <line x1="0" y1="0" x2="0" y2="500" style="stroke:white; stroke-width:3" />
            </svg>
          </div>
          <div class="content">
            <h2 ref="heading" class="title">Three.JS</h2>
            <p>Creating animation, loading and manipulating 3D objects & playing with lights or shaders</p>
          </div>
          <div class="lines">
            <svg class="lines__item" height="210" width="3" v-for="i in 25" :key="i">
              <line x1="0" y1="0" x2="0" y2="500" style="stroke:white; stroke-width:3" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  mounted() {
    this.animate()
  },
  methods: {
    animate() {
      const gsap = this.$gsap
      const section = this.$refs.section
      const heading = this.$refs.heading
      const tl = gsap.timeline({
        scrollTrigger: {
          pin: true,
          trigger: section,
          scrub: 1,
          start: 'top top',
          end: '+=100%',
          ease: "power4.inOut",
          toggleActions: "play pause pause pause",
          toggleClass: "active"
        }
      })

      tl
      .to('.fullscreen__content', { ease:"power4.inOut", duration: 0.2, padding: 0 }, 0)
      .to(heading, { ease:"power4.inOut", duration: 0.2, autoAlpha: 1 }, 0.2)
      .to('.fullscreen .content p', { ease:"power4.inOut", duration: 0.2, autoAlpha: 1 }, 0.4)
      .fromTo('.lines__item:nth-child(odd)', { height: 0 }, { ease:"power4.inOut", height: '4rem', duration: 0.4 }, 0.4)
      .fromTo('.lines__item:nth-child(even)', { height: 0 }, { ease:"power4.inOut", height: '6rem', duration: 0.4 }, 0.4)
      .to('.lines__item:nth-child(odd)', { ease:"power4.inOut", rotate: '-10deg', duration: 0.4 }, 1)
      .to('.lines__item:nth-child(even)', { ease:"power4.inOut", rotate: '10deg', duration: 0.4 }, 1)
      .to('.lines', { ease:"power4.inOut", duration: 0.5, scale: '0.7' }, 1.2)
    },
  },
}
</script>

<style lang="scss">
.fullscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  height: 100vh;
  overflow: hidden;
  padding: 0;

  .content {
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: 3;

    h2 {
      height: fit-content;
      color: wheat;
      width: fit-content;
      font-weight: 800;
      text-transform: uppercase;
      opacity: 0;
      visibility: hidden;
      z-index: 5;
      line-height: 1;
    }

    p {
      font-size: 0.8rem;
      color: lightgray;
      font-weight: 300;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__wrap {
    width: 100%;
    height: 100%;
  }

  &__content {
    width: 100%;
    height: 100%;
    padding: 5rem;
    position: relative;

    .bg {
      background-color: var(--black--bg);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      position: relative;
      flex-direction: column;
      padding: 5rem;
    }

    .lines {
      width: 100%;
      max-width: 1000px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        &:nth-child(odd) {
          opacity: 0.3;
        }

        &:nth-child(even) {
          opacity: 0.7;
        }

        height: 8rem;
        width: 3px;
        background-color: wheat;
        border-radius: 5px;
      }
    }
  }
}
</style>