<template>
  <section class="section fixed-scroll" ref="section">
    <div class="fixed-scroll__wrap">
      <div class="fixed-scroll__left">
        <h2 class="fixed-scroll__element" ref="heading">Créative Developer</h2>
        <p class="fixed-scroll__element bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quaerat dolore magni illum, labore dolorum delectus ab, corporis, harum magnam sit voluptatum. Perferendis, ducimus quaerat minima autem nihil ab repellendus!</p>
        <common-button class="cta" text="Découvrir plus" to="/hello" />
      </div>
      <div class="fixed-scroll__right">
        <img src="~/assets/images/code.png" alt="">
      </div>
    </div>
  </section>
</template>

<script>
export default {
  mounted() {
    this.animate()
  },
  methods: {
    animate() {
      const gsap = this.$gsap
      const splittedHeading = new this.$SplitText(this.$refs.heading, {
        type: "chars"
      })
      const chars = splittedHeading.chars
      const fadeInElements = gsap.timeline({ paused: true })
      fadeInElements
      .staggerFrom(chars, 2, {opacity: 0, y: -10, ease:"power4.inOut"}, 0.5)
      .to('p.bottom', { duration: 2, autoAlpha: 1 }, 4)
      .to('.cta', { duration: 2, autoAlpha: 1, y: -20 }, 6)
      .to('img', { duration: 10, autoAlpha: 1, scale: 1, y: -20 }, 8)
      ;

      this.$ScrollTrigger.create({  
        trigger: this.$refs.section,
        pin: true,
        start: 'top + 500 top + 100',
        end: '+=120%',
        scrub: 1,
        animation: fadeInElements
      })
    }
  }
}
</script>

<style lang="scss">
.fixed-scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  overflow: hidden;

  h2 {
    // visibility: hidden;
  }

  &__wrap {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;

    .cta {
      opacity: 0;
      visibility: hidden;
      width: fit-content;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;

    > p {
      color: var(--black--bg);
      width: 100%;
      opacity: 0;
      visibility: hidden;
      text-align: center;
    }
  }

  &__right {
    width: 100%;
    height: 300px;

    img {
      transform: scale(0.9);
      width: 100%;
      opacity: 0;
      visibility: hidden;
    }
  }
}
</style>