<template>
  <div class="page">
    <!-- <hero /> -->
    <section-three-audio/>
    <section-three-single/>
    <section-fixed-on-scroll/>
    <section-animated/>
    <section-three-creations/>
  </div>
</template>

<script>
export default {
  name: 'Home',
}
</script>

<style lang="scss">
section {
  padding: 5rem;

  &.white {
    background-color: white;
  }

  &.red {
    background-color: red;
  }

  &.green {
    background-color: green;
  }
}

footer {
  height: 500px;
}
</style>
